.favorite {
    border-collapse: collapse;
    border: 0px solid;
    border-radius: 1em;
    margin: 0 0 2em 0;
    padding: 0em;
    width: 100%;
    table-layout: initial;
}
.favorite caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
.favorite th:first-child {
    border-top-left-radius: .8em;
    text-align: left;
}
.favorite th {
    font-size: .9em;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: left;
}
.favorite th, .favorite td {
    padding: .625em;
}
.favorite a {
    text-decoration: none;
    color: black;
}
.favorite a:hover {
    color: rgb(12,100,94);
}
.favorite .myrecipeRed a:hover {
    color: white;
}
.reply {
    padding: .3em;
    border-radius: .5em;
    background-color: white;
    font-size: 1.2em;
}
.favorite .myrecipeRed .reply:hover {
    color: rgb(12,100,94);
}
.white {
    background-color: white;
}
.myrecipeRed {
    background-color: rgb(12,100,94);
}

@media screen and (max-width: 48em){
    .favorite td {
        border-bottom: 1px solid rgb(12,100,94);
        display: block;
        font-size: .8em;
        text-align: right;
    }
    .favorite td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    .favorite thead {
        display: none;
    }
    .favorite tr {
        border-bottom: 3px solid rgb(12,100,94);
        display: block;
        margin-bottom: .625em;
    }
    tbody .ok{
        display: none;
    }
    .reply {
        display: block;
        text-align: center;
    }
}