<table class="favorite">
    <caption>Today's favorite recipes</caption>
    <thead>
        <tr class="myrecipeRed">
            <th scope="col"> </th>
            <th scope="col">Bread</th>
            <th scope="col">Starters</th> 
            <th scope="col">Main Courses</th>
            <th scope="col">Desserts</th>
        </tr>
    </thead>
    <tfoot>
        <tr class="myrecipeRed">
            <td></td>
            <td></td>
            <td>
                <a href="reply.html" class="reply">Send us a Recipe</a>
            </td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
    <tbody>
        <tr class="white">
            <td scope="row" data-label="Difficulty">Fast and Easy</td>
            <td data-label="Bread">
                <a href="http://namskra.is/courses/590c780162933a4e9204deef" target="_blank">FORR1FG05(AU)</a>
            </td>
            <td data-label="Starter">
                <a href="http://namskra.is/courses/591c4aeb62933a4e920559b5" target="_blank">VEFÞ1VG05(AU)</a>
            </td>
            <td data-label="Main Course">
                <a href="http://namskra.is/courses/591c15e962933a4e920557e6" target="_blank">GAGN1NG05(AU)</a>
            </td>
            <td data-label="Desserts">
                <a href="http://namskra.is/courses/591c3b9762933a4e92055936" target="_blank">KEST1TR05(AU)</a>
            </td>
        </tr>
        <tr class="myrecipeRed">
            <td scope="row" data-label="Difficulty">Quality Recipes</td>
            <td data-label="Bread">
                <a href="http://namskra.is/courses/5919696b62933a4e9205418c" target="_blank">FORR2FA05(BU)</a>
            </td>
            <td data-label="Starter">
                <a href="http://namskra.is/courses/591c4ca162933a4e920559c0" target="_blank">VEFÞ2VH05(BU)</a>
            </td>
            <td data-label="Main Course">
                <a href="http://namskra.is/courses/591c19d262933a4e92055804" target="_blank">GAGN2HS05(BU)</a>
            </td>
            <td data-label="Desserts">
                <a href="http://namskra.is/courses/591c3dec62933a4e9205594a" target="_blank">KEST2VJ05(BU)</a>
            </td>
        </tr>
        <tr class="white">
            <td scope="row" data-label="Difficulty">Exotic Recipes</td>
            <td data-label="Bread">
                <a href="http://namskra.is/courses/59196cc162933a4e920541d2" target="_blank">FORR2HF05(CU)</a>
            </td>
            <td data-label="Starter">
                <a href="http://namskra.is/courses/591c4cd162933a4e920559c4" target="_blank">VEFÞ2VF05(CU)</a>
            </td>
            <td data-label="Main Course">
                <a href="http://namskra.is/courses/591c1a0262933a4e92055808" target="_blank">GAGN2VG05(CU)</a>
            </td>
            <td data-label="Desserts">
                <a href="http://namskra.is/courses/591c3f8762933a4e92055959" target="_blank">KEST2UN05(CU)</a>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr class="myrecipeRed ok">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>